<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>SWFC - {{{title}}} </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


</head>
<body>
<h1>{{{Title}}}</h1>
<a href="/total/cards">Cards</a>
<a href="/total/packs">Packs</a>
<a href="/total/hours">Hours</a>
{{{body}}}



</body>
</html>