<h1>History for {{{name}}}</h1>



<table>
	<thead>
		<tr>
			<th>Max in 1 hour</th>
			<th>Min in 1 hour</th>
			<th>Average Rarity Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>18</th>
			<th>3</th>
			<th>4.4</th>
		</tr>
	</tbody>
</table>
