<h2>Card Binder</h2>
	<div class="large-6 columns">
		<div class="frameContainer">
			<iframe id="gameScreen" src="/stream/cardBinder?type=1&attribute=0&sort=0&page=1" width="100%" height="100%"></iframe>
		</div>
	</div>
	<div class=" large-6 columns">
		<label for="attribute">Filter
			<select id="attribute" name="attribute">
				<option value="0">All</option>
				<option value="1">Light</option>
				<option value="2">Dark</option>
				<option value="3">Neutral</option>
				<option value="4">Skill Cards</option>
				<option value="5">S-Range</option>
				<option value="6">M/L-Range</option>
				<option value="7">Healer</option>
				<option value="8">Mechanic</option>
			</select>
		</label>
		<!--<label for="sort">Sort
			<select id="sort" name="sort">
				<option value="0">Recently Added</option>
				<option value="1">Level</option>
				<option value="20">ATK (High to Low)</option>
				<option value="2">ATK (Low to High)</option>
				<option value="3">DEF (High to Low)</option>
				<option value="4">DEF (Low to High)</option>
				<option value="5">Cost (High to Low)</option>
				<option value="6">Cost (Low to High)</option>
				<option value="7">Rarity (High to Low)</option>
				<option value="8">Rarity (Low to High)</option>
				<option value="9">Skill Grd. (High to Low)</option>
				<option value="22">Skill Grd. (Low to High)</option>				
			</select>
		</label>-->	
		<label for="type">Type
			<select id="type" name="type">
				<option value="1">Characters</option>
				<option value="3">Stack</option>
				<option value="2">Vehicles</option>
			</select>
		</label>								
		<label for="page">Page
			<select id="page" name="page">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>	
			</select>
		</label>		
	</div>

	<script>
		var pageSettings = {
			baseFrameSrc: "/stream/cardBinder",
			attribute: 0,
			page: 1,
			sort: 0,
			type: 1
		}

		$(document).on('change', '#page', function(e) {
		    var page = this.options[e.target.selectedIndex].text;
		    pageSettings.page = page;
		    var frameUrl = pageSettings.baseFrameSrc + '?page=' + pageSettings.page + '&attribute=' + pageSettings.attribute + '&sort=' + pageSettings.sort + '&type=' + pageSettings.type;
		    $("#gameScreen").attr('src', frameUrl);
		    console.log(frameUrl);
		});
		$(document).on('change', '#attribute', function(e) {
		    var attribute = this.options[e.target.selectedIndex].value;
		    pageSettings.attribute = attribute;
		    pageSettings.page = 1;
		    $("#page").val(pageSettings.page);
		    var frameUrl = pageSettings.baseFrameSrc + '?page=' + pageSettings.page + '&attribute=' + attribute + '&sort=' + pageSettings.sort + '&type=' + pageSettings.type;
		    console.log(frameUrl);
		    $("#gameScreen").attr('src', frameUrl);
		});
		$(document).on('change', '#sort', function(e) {
		    var sort = this.options[e.target.selectedIndex].value;
		    pageSettings.sort = sort;
		    pageSettings.page = 1;
		    $("#page").val(pageSettings.page);
		    var frameUrl = pageSettings.baseFrameSrc + '?page=' + pageSettings.page + '&attribute=' + pageSettings.attribute + '&sort=' + pageSettings.sort + '&type=' + pageSettings.type;
		    console.log(frameUrl);
		    $("#gameScreen").attr('src', frameUrl);
		});	
		$(document).on('change', '#type', function(e) {
		    var type = this.options[e.target.selectedIndex].value;
		    pageSettings.type = type;
		    pageSettings.page = 1;
		    $("#page").val(pageSettings.page);
		    var frameUrl = pageSettings.baseFrameSrc + '?page=' + pageSettings.page + '&attribute=' + pageSettings.attribute + '&sort=' + pageSettings.sort + '&type=' + pageSettings.type;
		    console.log(frameUrl);
		    $("#gameScreen").attr('src', frameUrl);
		});							
	</script>

