<h2>Get Data</h2>
<ul class="homeMenu inline-list">
	<li><a class="button" href="/cardPulls">Card Pulls</a></li>
	<li><a class="button" href="/cardArchive">Card Archive</a></li>
	<!--<li><a class="button" href="/#">Card Binder</a></li>
	<li><a class="button" href="/#">Events</a></li>-->
</ul>

<h2>View Data</h2>
<ul class="homeMenu inline-list">
	<li><a class="button" href="/reports/cards">5* Card Pulls</a></li>
	<li><a class="button" href="/reports/packs">Card Pack Data</a></li>
	<li><a class="button" href="/reports/cardList">Card List</a></li>
	<li><a class="button" href="/reports/skills">Skill List</a></li>

</ul>