/*
palette: http://www.colourlovers.com/palette/769554/Ocean_Etiquette;


*/

body {
  padding: 50px;
  font: 16px "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #1A2C38;
  background: #F2F2F2;
}

@media (max-width: 600px) {
  body {
    padding: 5px;
  }
}
a {
  color: #484A66;
}
.switch{
	outline:1px solid #F2F2F2;
}
.menu{
	float:right;
}
.userInfo, .options{
	padding: 15px;
	background:#484A66;
	color: #F2F2F2;
	margin-top: 5px;
	margin-bottom:5px;
	font-weight: 100;
}

.controls{
	padding-bottom:20px;
}

.list {
  font-family:sans-serif;
}
td {
  padding:7px; 
  border-bottom:solid 1px #eee;
  font-size: 14px;
}

.cardInfo{
	border: 1px solid #eee;
	background: #eee;
	width:350px;
	padding:3px;
	margin: 5px;
}
.cardImage{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.rarity{
	text-align:center;
}

.rarity1{
	background-color:#034500;
	color:#fff;
}
.rarity2{
	background-color:#156711;
	color:#fff;
}
.rarity3{
	background-color:#5AAC56;
	color:#000;
}
.rarity4{
	background-color:#C1C326;
	color:#000;
}
.rarity5{
	background-color:#C39B27;
	color:#fff;
}
.rarity6{
	background-color:#C36F27;
	color:#fff;
}
.rarity7{
	background-color:#B73030;
	color:#fff;
}

.frameContainer{
	width: 400px;
	height: 550px;
}

.timer{
	font-size: 3rem;
}